@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: hsl(0, 0%, 8%); 
  display: flex;
  justify-content: center;
  align-items: center; 
  color: white;
}

section {
  background-color: hsl(0, 0%, 12%);
  width: 23em;
  max-height: 42em;
  display: flex;
  justify-content: center;
  border-radius: 15px;
}

.container .img {
  height: 10%;
  margin: 50px 0 ;
  display: flex;
  justify-content: center;
}

.container .img  img{
  width: 5em;
  height: 5em;
  border-radius: 50%;
}

.container .definition {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .definition h1 {
  color: hsla(0, 0%, 100%, 0.877);
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.container .definition .place {
  color: hsl(75, 94%, 57%);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 30px;
} 

.container .definition .work {
  color: hsla(0, 0%, 100%, 0.459);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}

ul li  {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

.container .links ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .links ul li {
  background-color: hsl(0, 0%, 20%);
  width: 19em;
  height: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.container .links ul li:hover {
  background-color: hsl(75, 94%, 57%);
  color: black;
}

.container .links ul li:hover a {
  color: black;
}

/* change color */
.container .links ul li a {
  color: white;
}

@media (max-wedth:386px) {
  section {
    max-width: 20em;
    max-height: 40em;
  }
  .container .links ul li {
    max-width: 16em;
  }
}